/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toevoegen {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.toevoegen label {
  display: block;
}

.toevoegen input, .toevoegen textarea, .toevoegen select {
  text-align: right;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.inline {
  display: inline-block;
}

select {
  text-align: right;
}
*/
.everything {
  text-align: center;
}

.title {
  color:red;
  text-align: center;
}

.info-algemeen {
  text-align: center;
}

.advies {
  text-align: center;
}

.first-form {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.second-form {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.toevoegen .saltAmount {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 100px;
  color: green;
}