.saltAmount {
    padding-bottom: 40px;
    padding-top: 20px;
}

.voedingsmiddel-label, .eenheid-label, .zout-label, .verzadigd-vet-label, .select-voedingsmiddel-label, .hoeveelheid-label {
    font-size: 20px;
}


